<a href="https://colab.research.google.com/github/krishnavarathan/python-data-analysis/blob/main/Basic_Excersies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

LEVEL 1: Basics (Pandas Foundations)

In [2]:
source = pd.read_json("/content/sample_data/anscombe.json")
source

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

In [3]:
print(type(source))
print(source.shape)
print(len(source))
# print(source["Series"].value_counts())

<class 'pandas.core.frame.DataFrame'>
(44, 3)
44

In [4]:
# duplicates
source.duplicated(subset=["X", "Y"]).sum()

np.int64(0)

In [5]:
print(source.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Series  44 non-null     object
 1   X       44 non-null     int64
 2   Y       44 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.2+ KB
None

In [6]:
for i in source.columns:
  print("Column Name: ", i)

Column Name:  Series
Column Name:  X
Column Name:  Y

In [7]:
print(source.head())
print(source.head(10))

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33
  Series   X      Y
0      I  10   8.04
1      I   8   6.95
2      I  13   7.58
3      I   9   8.81
4      I  11   8.33
5      I  14   9.96
6      I   6   7.24
7      I   4   4.26
8      I  12  10.84
9      I   7   4.81

In [8]:
print(source.tail())
print(source.tail(3))

   Series   X      Y
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89
   Series  X     Y
41     IV  8  5.56
42     IV  8  7.91
43     IV  8  6.89

In [9]:
print(source['X'].mean())
print(int(source['Y'].mean()))
print(np.mean(source['X']))
print(int(np.mean(source['Y'])))

9.0
7
9.0
7

In [10]:
print(source['X'].median())
print(source['Y'].median())

8.0
7.52

In [11]:
print(source['X'].std())
print(source['Y'].std())

3.198836997962679
1.9592439863084528

In [12]:
print(round(source['X'].std()))
print(round(source['Y'].std()))

3
2

In [13]:
source_count=len(source)
x_count=len(source['X'])
y_count=len(source['Y'])
if (source_count==x_count==y_count):
  print(source_count,x_count,y_count)
else:
  print("Rows are not Equaled!")

44 44 44

In [14]:
sum=0
for i in source['X']:
  print(i)

10
8
13
9
11
14
6
4
12
7
5
10
8
13
9
11
14
6
4
12
7
5
10
8
13
9
11
14
6
4
12
7
5
8
8
8
8
8
8
8
19
8
8
8

LEVEL 2: Grouping & Aggregation

In [15]:
print(int(source['X'].mean()))
print(int(source['Y'].mean()))

9
7

In [16]:

print(np.var(source['X']))

10.0

In [17]:
# Correlation
corr = source.groupby("Series")[["X", "Y"]].corr()
print(type(corr))

<class 'pandas.core.frame.DataFrame'>

In [18]:
x_array = np.array(source['X'])
print(type(x_array))
print(x_array)
# for i in x_array:
#   print(i)

<class 'numpy.ndarray'>
[10  8 13  9 11 14  6  4 12  7  5 10  8 13  9 11 14  6  4 12  7  5 10  8
 13  9 11 14  6  4 12  7  5  8  8  8  8  8  8  8 19  8  8  8]

In [19]:
y_array = np.array(source['Y'])
print(type(x_array))
print(y_array)
# for i in x_array:
#   print(i)

<class 'numpy.ndarray'>
[ 8.04  6.95  7.58  8.81  8.33  9.96  7.24  4.26 10.84  4.81  5.68  9.14
  8.14  8.74  8.77  9.26  8.1   6.13  3.1   9.13  7.26  4.74  7.46  6.77
 12.74  7.11  7.81  8.84  6.08  5.39  8.15  6.42  5.73  6.58  5.76  7.71
  8.84  8.47  7.04  5.25 12.5   5.56  7.91  6.89]

In [20]:
series_array = np.array(source['Series'])
print(type(x_array))
print(series_array)
# for i in x_array:
#   print(i)

<class 'numpy.ndarray'>
['I' 'I' 'I' 'I' 'I' 'I' 'I' 'I' 'I' 'I' 'I' 'II' 'II' 'II' 'II' 'II' 'II'
 'II' 'II' 'II' 'II' 'II' 'III' 'III' 'III' 'III' 'III' 'III' 'III' 'III'
 'III' 'III' 'III' 'IV' 'IV' 'IV' 'IV' 'IV' 'IV' 'IV' 'IV' 'IV' 'IV' 'IV']

In [21]:
x_mean = np.mean(source['X'])
x_mean_pd = source['X'].mean()
print(x_mean, x_mean_pd)

9.0 9.0

In [22]:
y_mean = np.mean(source['Y'])
y_mean_pd = source['Y'].mean()
print(y_mean, y_mean_pd)

7.500454545454545 7.500454545454545

In [23]:
# outlier detection
source[source["X"] > 15]
source[source["Y"] > 11]

   Series   X      Y
24    III  13  12.74
40     IV  19  12.50

LEVEL 4: Exploratory Thinking (Key Lesson of Anscombe)

In [24]:
# Compare Statistics vs Reality
stats = source.groupby("Series").agg({
    "X": ["mean", "var"],
    "Y": ["mean", "var"]
})
stats

          X               Y
       mean   var      mean       var
Series
I       9.0  11.0  7.500000  4.132640
II      9.0  11.0  7.500909  4.127629
III     9.0  11.0  7.500000  4.122620
IV      9.0  11.0  7.500909  4.123249