<a href="https://colab.research.google.com/github/krishnavarathan/python-data-analysis/blob/main/Lambda_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [171]:
lambda x:x*2

In [172]:
xl=lambda x:x**2
print(type(xl))
print(xl(3))

<class 'function'>
9

In [173]:
x=(lambda x:x+10)(3)
print(x)

13

In [174]:
xy= lambda a,b:a**b
xy(3,8)

6561

In [175]:
# xy= lambda a,b:a * b(x)
# xy(10,3)

In [176]:
v=12
xy= lambda a,b:a * b(v)
l2=xy(10, lambda x:x+1)
print(l2)

130

In [177]:

val =lambda x:(print(x),x*2)
print(val(1))
print(type(val))

1
(None, 2)
<class 'function'>

In [178]:
points = [(2,8),(5,7),(4,3)]
print(sorted(points, key=lambda x:x[0]))

[(2, 8), (4, 3), (5, 7)]

In [179]:
val =lambda x:list((x*2, print("Value of x is {}".format(x)))) # lambada function 1st excutes the print() and then returne the value X*2, and print(x)-it refers to none
print(val(1))
print(type(val))

Value of x is 1
[2, None]
<class 'function'>

In [180]:
x_list =[2,3,4,55,56,63]
xy= list(map(lambda x:x*2,x_list))
print(xy)

[4, 6, 8, 110, 112, 126]

In [181]:
# ⭐ Problem 1 – Square Number
print((lambda x:x**2)(5))

25

In [182]:
#⭐ Problem 2 – Even or Odd
print((lambda x:True if x%2==0 else False)(2))
print((lambda x:True if x%2==0 else False)(3))

True
False

In [183]:
# ⭐ Problem 3 – Add Two Numbers
print((lambda x,y:x+y) (20,45))

65

In [184]:
# ⭐ Problem 4 – Find Maximum using Max()
a = [1,2,3,4,5]
res=max(list(map(lambda x:x*3, a)))
print(res)

15

In [185]:
#⭐ Problem 5 – Multiply by 3 List Values Using map()
print(list(map(lambda x:x*3, a)))

[3, 6, 9, 12, 15]

In [186]:
# Problem 6 – Filter Even Numbers
nums = [10,15,20,25,30]
result = list(filter(lambda x: x%2==0, nums))
print(result)

[10, 20, 30]

In [187]:
# ⭐ Problem 7 – Convert Names to Uppercase
names = ["krishna","python","data"]
up=list(map(lambda x:x.upper(), names))
print(up)

['KRISHNA', 'PYTHON', 'DATA']

In [188]:
#⭐ Problem 8 – Sort List of Tuples
data = [("A", 25), ("B", 15), ("C", 35)]
print(sorted(data))
print(sorted(data, key=lambda x:x[1]))

[('A', 25), ('B', 15), ('C', 35)]
[('B', 15), ('A', 25), ('C', 35)]

In [189]:
# ⭐ Problem 9 – Add 10 to Each Number Using List Comprehension + Lambda
nums = [1,2,3,4]
nums=[n+10 for n in nums]
print(nums)
numx=list(map(lambda x:x+10, nums))
print(numx)

[11, 12, 13, 14]
[21, 22, 23, 24]

# ⭐ Problem 10 – Higher Order Lambda

Create a lambda that:

Takes number a

Takes function b

Returns result of b(a) + 5

In [190]:
q=2
func = lambda a,b: b(q)+a
print(func(10, lambda x: x*2))

14