<a href="https://colab.research.google.com/github/krishnavarathan/python-data-analysis/blob/main/List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
l=[2,4,5,6,89,186]

In [23]:
sq=[num*2 for num in l]
print(sq)

[4, 8, 10, 12, 178, 372]

In [25]:
sq=[num*2 for num in l if num%2==0]
print(sq)

[4, 8, 12, 372]

In [27]:
# sq=[num*2 if num%2==0 for num in l]
# print(sq)

In [29]:
sq=[num*2 if num%2==0 else print("Even") for num in l]
print(sq)
print(type(sq))

Even
Even
[4, 8, None, 12, None, 372]
<class 'list'>

In [32]:
print([i for i in range(10)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
# Nested for loop inside list
a=[i*j for i in range(5) for j in range(5)]
print(len(a))
print(type(a))
print(a)

25
<class 'list'>
[0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 0, 3, 6, 9, 12, 0, 4, 8, 12, 16]

In [94]:
l2=[2,49,17,34,42,65,7,83]
a=[num**2 if num%2!=0 else "Even" for num in l2]
print(a)
print([a[i] if a[i]=="Even" else "" for i in range(len(l2))])

['Even', 2401, 289, 'Even', 'Even', 4225, 49, 6889]
['Even', '', '', 'Even', 'Even', '', '', '']

In [103]:
b=[]
for i in range(len(a)):
  if a[i]=="Even":
    b.append("Value {0} with Index {1}".format(a[i], i))
print(b)

['Value Even with Index 0', 'Value Even with Index 3', 'Value Even with Index 4']

In [116]:
print(type([range(8)]))

<class 'list'>

In [130]:
a=[10,20,42,34,50]
print(a)
b = list(map(lambda x: f"Value {a[x]} with Index {x}",
        filter(lambda x: x % 2 == 0, range(len(a)))
    )
)

print(b)

[10, 20, 42, 34, 50]
['Value 10 with Index 0', 'Value 42 with Index 2', 'Value 50 with Index 4']

In [125]:
a=lambda x:x**2
print(list(map(a,l)))

[4, 16, 25, 36, 7921, 34596]