<a href="https://colab.research.google.com/github/krishnavarathan/python-data-analysis/blob/main/NumPy_Fundamentals_Complete.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NumPy Fundamentals

In [6]:
import numpy as np

## Indexing

In [7]:
array_a = np.array([[1,2,3],[4,5,6]])
array_a

array([[1, 2, 3],
       [4, 5, 6]])

### Specific Values

In [8]:
array_a[1]

## By adding numbers between square brackets, we can reference specific values of the array.
## Python uses 0-indexing, so the first position has an index 0, the second position has index 1, and so on.

array([4, 5, 6])

In [9]:
array_a[1][0]

## We can index every dimension of the array separately.

np.int64(4)

In [10]:
array_a[1,0]

## [1,0] is equivalent to [1][0]

np.int64(4)

In [11]:
array_a[:,0]

## The ":" is equivalent to "from start to end" in this context.

array([1, 4])

### Negative Indices

In [12]:
array_b = np.array([1,2,3])
array_b[-1]

## Negative indices mean traversing from the back.
## No such thing as  -0 , so the first negative index is -1.

np.int64(3)

In [13]:
array_a

array([[1, 2, 3],
       [4, 5, 6]])

In [14]:
array_a[-1]

array([4, 5, 6])

In [15]:
# array_a[-3]
# Goes out of bounds, since -3 implies there are 3 rows.

## Assigning Values

In [16]:
array_a = np.array([[1,2,3],[4,5,6]])
array_a

array([[1, 2, 3],
       [4, 5, 6]])

In [17]:
array_a[0,2] = 9
array_a

## Assign a value to an individual element.

array([[1, 2, 9],
       [4, 5, 6]])

In [18]:
array_a[0] = 9
array_a

## Assign a value to an entire row.

array([[9, 9, 9],
       [4, 5, 6]])

In [19]:
array_a[:,0] = 9
array_a

## Assign a value to an entire column.

array([[9, 9, 9],
       [9, 5, 6]])

In [20]:
list_a = [8,7,8]

array_a[0] = list_a
array_a

## Assign different values to an entire row via a list.

array([[8, 7, 8],
       [9, 5, 6]])

In [21]:
type(array_a[0])

numpy.ndarray

In [22]:
array_a[:] = 9
array_a

## Assign the same value to all the individual elements in the array.

array([[9, 9, 9],
       [9, 9, 9]])

In [23]:
array_a = 9
array_a

## Type assignment in Python is dynamic. Hence, a variable's type can change based on what values we assign to it.
## Here, array_a changes from an ndarray to an integer.

9

In [24]:
type(array_a)

int

In [25]:
array_a = np.array([[1,2,3],[4,5,6]])
array_a

array([[1, 2, 3],
       [4, 5, 6]])

## Elementwise Properties

In [26]:
array_a = np.array([7,8,9])
array_a

array([7, 8, 9])

In [27]:
array_b = np.array([[1,2,3],[4,5,6]])
array_b

array([[1, 2, 3],
       [4, 5, 6]])

In [28]:
array_b * 2

## Multiplying each element of array_b by 2

array([[ 2,  4,  6],
       [ 8, 10, 12]])

In [29]:
list_a = [1,2,3]
list_a + [2]

## Since lists don't work elementwise, we're concatenating [2] to list_a.

[1, 2, 3, 2]

In [30]:
array_a + 2

## Elementwise addition adds 2 to each element of array_a.

array([ 9, 10, 11])

In [31]:
array_a * array_b[1]

## Elementwise multiplication.
## We multiply each individual element of array_a by its corresponding element in the second row of array_b.

array([28, 40, 54])

In [32]:
array_b - array_a

## The order of the elements matters for elementwise subtraction, division, as well as other operations.

array([[-6, -6, -6],
       [-3, -3, -3]])

## Types of Data Supported by NumPy

In [33]:
array_a = np.array([[1,2,3],[4,5,6]])
array_a

array([[1, 2, 3],
       [4, 5, 6]])

In [34]:
array_a = np.array([[1,2,3],[4,5,6]], dtype = np.float16)
array_a

# Defining all the values as floats (decimals).

array([[1., 2., 3.],
       [4., 5., 6.]], dtype=float16)

In [35]:
array_a = np.array([[1,2,3],[4,5,6]], dtype = np.complex64)
array_a

# Defining all the values as complex numbers.

array([[1.+0.j, 2.+0.j, 3.+0.j],
       [4.+0.j, 5.+0.j, 6.+0.j]], dtype=complex64)

In [36]:
array_a = np.array([[1,2,0],[4,5,6]], dtype = np.bool)
array_a

# Defining all the values as Booleans.

array([[ True,  True, False],
       [ True,  True,  True]])

In [37]:
array_a = np.array([[10,2,3],[4,5,6]], dtype = np.str)
array_a

# Defining all the values as text.

/tmp/ipython-input-3915362318.py:1: FutureWarning: In the future `np.str` will be defined as the corresponding NumPy scalar.
  array_a = np.array([[10,2,3],[4,5,6]], dtype = np.str)

AttributeError: module 'numpy' has no attribute 'str'.
`np.str` was a deprecated alias for the builtin `str`. To avoid this error in existing code, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
The aliases was originally deprecated in NumPy 1.20; for more details and guidance see the original release note at:
    https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

https://numpy.org/devdocs/reference/generated/numpy.dtype.kind.html <- <i> A link to the documentation explaining the unicode abbreviation.

## Characteristics of NumPy Functions

### Universal Functions

https://numpy.org/devdocs/reference/ufuncs.html <- <i> A link to the documentation page on Universal Functions

### Broadcasting

In [39]:
array_a = np.array([1,2,3])
array_a

array([1, 2, 3])

In [40]:
array_b = np.array([[1],[2]])
array_b

array([[1],
       [2]])

In [41]:
matrix_C = np.array([[1,2,3],[4,5,6]])
matrix_C

array([[1, 2, 3],
       [4, 5, 6]])

In [42]:
np.add(array_b, matrix_C)

## Adding up values, even though the arrays don't have matching shapes.

array([[2, 3, 4],
       [6, 7, 8]])

### Type Casting

In [43]:
np.add(array_b, matrix_C, dtype = np.float64)

## We can define the datatyep

array([[2., 3., 4.],
       [6., 7., 8.]])

### Running over an Axis

In [44]:
np.mean(matrix_C, axis = 1)

## Axis = 0 runs the function over every column.
## Axis = 1 runs the function over every row.

array([2., 5.])

In [45]:
matrix_C

array([[1, 2, 3],
       [4, 5, 6]])