<a href="https://colab.research.google.com/github/krishnavarathan/python-data-analysis/blob/main/pandas_DataFrames_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<hr style="border:5px solid #108999">

# pandas DataFrames <hr style="border:4.5px solid #108999">

Import the pandas and numpy libraries by using the relevant well-known conventions.

In [276]:
import pandas as pd
import numpy as np

## A Revision to pandas DataFrames

The goal of this exercise is to solidify your knowledge and understanding of the fundamentals of using pandas DataFrames.

Execute the next code cell to create the array called **array_c**.

In [277]:
array_a = np.array([[1000, 50, 78.45], [700, 112, 35.5]])
array_a

array([[1000.  ,   50.  ,   78.45],
       [ 700.  ,  112.  ,   35.5 ]])

Convert **array_c** into a DataFrame, called **company_statistics**. Assign the column names and row labels from the following lists as column names and index of this DataFrame, respectively.

In [278]:
# column names
company_statistics=['No. of Employees', 'Avg. Annual Revenue ($)', 'Share price ($)']
array_c=pd.DataFrame(array_a, columns=company_statistics)
array_c

   No. of Employees  Avg. Annual Revenue ($)  Share price ($)
0            1000.0                     50.0            78.45
1             700.0                    112.0            35.50

In [279]:
# row labels
rows=['Company A', 'Company B']
array_c=pd.DataFrame(array_a, index=rows, columns=company_statistics)
array_c

           No. of Employees  Avg. Annual Revenue ($)  Share price ($)
Company A            1000.0                     50.0            78.45
Company B             700.0                    112.0            35.50

Display the **company_statistics** DataFrame.

In [280]:
array_c

           No. of Employees  Avg. Annual Revenue ($)  Share price ($)
Company A            1000.0                     50.0            78.45
Company B             700.0                    112.0            35.50

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

In [281]:
sales=pd.read_csv('/content/drive/MyDrive/Pandas_Exercises/sales.csv')
sales

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018,Q1 2018,59728.66,491,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018,Q1 2018,36050.32,254,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018,Q1 2018,90040.48,149,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018,Q1 2018,NaN,305,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018,Q1 2018,NaN,182,0.610710
...,...,...,...,...,...,...,...,...,...,...,...,...
95,SaleID_96,Austria,Web,Sports Store,Camping Equipment,Watches,Mountain Man Extreme,2018,Q2 2018,3561.88,14,0.607248
96,SaleID_97,Austria,Web,Sports Store,Sports Equipment,Watches,Venue,2018,Q2 2018,81422.00,1116,0.423624
97,SaleID_98,Austria,Sales visit,Sports Store,Sports Equipment,Woods,Hailstorm Titanium Woods Set,2018,Q2 2018,56256.54,49,0.432507
98,SaleID_99,Austria,Sales visit,Sports Store,Personal Accessories,Putters,Course Pro Putter,2018,Q2 2018,29578.00,410,0.526955
99,SaleID_100,Italy,Fax,Outdoors Shop,Outdoor Protection,Cooking Gear,TrailChef Cook Set,2018,Q2 2018,93062.99,1765,0.346810

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [282]:
# setting the 1st column as index
# sales_products_data = pd.read_csv('/content/drive/MyDrive/Pandas_Exercises/sales.csv', index_col=0)
sales

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018,Q1 2018,59728.66,491,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018,Q1 2018,36050.32,254,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018,Q1 2018,90040.48,149,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018,Q1 2018,NaN,305,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018,Q1 2018,NaN,182,0.610710
...,...,...,...,...,...,...,...,...,...,...,...,...
95,SaleID_96,Austria,Web,Sports Store,Camping Equipment,Watches,Mountain Man Extreme,2018,Q2 2018,3561.88,14,0.607248
96,SaleID_97,Austria,Web,Sports Store,Sports Equipment,Watches,Venue,2018,Q2 2018,81422.00,1116,0.423624
97,SaleID_98,Austria,Sales visit,Sports Store,Sports Equipment,Woods,Hailstorm Titanium Woods Set,2018,Q2 2018,56256.54,49,0.432507
98,SaleID_99,Austria,Sales visit,Sports Store,Personal Accessories,Putters,Course Pro Putter,2018,Q2 2018,29578.00,410,0.526955
99,SaleID_100,Italy,Fax,Outdoors Shop,Outdoor Protection,Cooking Gear,TrailChef Cook Set,2018,Q2 2018,93062.99,1765,0.346810

Verify that the obtained object is a pandas DataFrame.

In [283]:
print(type(sales))

<class 'pandas.core.frame.DataFrame'>

Try out a well-known pandas method used for Series on this DataFrame to obtain its last five rows.

In [284]:
sales.head()

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018,Q1 2018,59728.66,491,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018,Q1 2018,36050.32,254,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018,Q1 2018,90040.48,149,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018,Q1 2018,NaN,305,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018,Q1 2018,NaN,182,0.610710

In [285]:
sales.loc[:4,:]

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018,Q1 2018,59728.66,491,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018,Q1 2018,36050.32,254,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018,Q1 2018,90040.48,149,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018,Q1 2018,NaN,305,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018,Q1 2018,NaN,182,0.610710

## Common Attributes for Working with DataFrames

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [286]:
sales_products_data=pd.read_csv('/content/drive/MyDrive/Pandas_Exercises/Sales-products.csv')
sales_products_data

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710
...,...,...,...,...,...,...,...,...,...,...,...,...
1271,SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
1272,SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
1273,SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
1274,SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
1275,SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

Return the index of the **sales_products_data** DataFrame.

In [287]:
sales_products_data.index

RangeIndex(start=0, stop=1276, step=1)

Verify that **sales_products_data** is a RangeIndex object in an alternative way by using the **type()** funciton.

In [288]:
type(sales_products_data)

pandas.core.frame.DataFrame

Retrieve and Index object containing all column names from the **sales_products_data** DataFrame.

In [289]:
sales_products_data.columns

Index(['SaleID', 'RetailerCountry', 'OrderMethod', 'RetailerType',
       'ProductLine', 'ProductType', 'Product', 'Year', 'Quarter', 'Revenue',
       'Quantity', 'GrossMargin'],
      dtype='object')

You are requested to create a new DataFrame, called **df**, whose data is obtained from the the names of the columns of **sales_products_data** DataFrame, while the column names are obtained from the **new_column_names** list.
<br/><br/> First, execute the next cell to create **new_column_names**, and then in the next cell try creating the **df** DataFrame yourself (by helping yourself with the newly created **new_column_names** list).
<br/><br/> *Note: There are two ways to achieve this - one would be through utilizing the* **columns** *parameter, and the other â€“ with the help of the* **"columns"** *attribute. Choose whichever option you prefer (or why not try both!).*

In [290]:
new_column_names = ['Sale_ID', 'Country', 'OrderMethod', 'Retailer', 'Line',
       'Type', 'Product', 'YearOfSales', 'Quarter', 'Revenue', 'Quantity',
       'Margin']

In [291]:
df=pd.DataFrame(sales_products_data, columns=new_column_names)
df

,Sale_ID,Country,OrderMethod,Retailer,Line,Type,Product,YearOfSales,Quarter,Revenue,Quantity,Margin
0,NaN,NaN,Fax,NaN,NaN,NaN,TrailChef Deluxe Cook Set,NaN,Q1 2018,59728.66,491.0,NaN
1,NaN,NaN,Fax,NaN,NaN,NaN,TrailChef Double Flame,NaN,Q1 2018,36050.32,254.0,NaN
2,NaN,NaN,Fax,NaN,NaN,NaN,Star Dome,NaN,Q1 2018,90040.48,149.0,NaN
3,NaN,NaN,Fax,NaN,NaN,NaN,Star Gazer 2,NaN,Q1 2018,NaN,305.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,Compact Relief Kit,NaN,Q1 2018,NaN,182.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1271,NaN,NaN,Sales visit,NaN,NaN,NaN,Husky Rope 60,NaN,Q3 2020,30916.50,173.0,NaN
1272,NaN,NaN,Sales visit,NaN,NaN,NaN,Firefly Climbing Lamp,NaN,Q3 2020,7536.29,193.0,NaN
1273,NaN,NaN,Sales visit,NaN,NaN,NaN,Firefly Charger,NaN,Q3 2020,12306.48,238.0,NaN
1274,NaN,NaN,Sales visit,NaN,NaN,NaN,Granite Axe,NaN,Q3 2020,56499.00,1472.0,NaN
1275,NaN,NaN,Sales visit,NaN,NaN,NaN,Granite Extreme,NaN,Q3 2020,89427.00,1178.0,NaN

In [292]:
df.columns=new_column_names
df

,Sale_ID,Country,OrderMethod,Retailer,Line,Type,Product,YearOfSales,Quarter,Revenue,Quantity,Margin
0,NaN,NaN,Fax,NaN,NaN,NaN,TrailChef Deluxe Cook Set,NaN,Q1 2018,59728.66,491.0,NaN
1,NaN,NaN,Fax,NaN,NaN,NaN,TrailChef Double Flame,NaN,Q1 2018,36050.32,254.0,NaN
2,NaN,NaN,Fax,NaN,NaN,NaN,Star Dome,NaN,Q1 2018,90040.48,149.0,NaN
3,NaN,NaN,Fax,NaN,NaN,NaN,Star Gazer 2,NaN,Q1 2018,NaN,305.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,Compact Relief Kit,NaN,Q1 2018,NaN,182.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1271,NaN,NaN,Sales visit,NaN,NaN,NaN,Husky Rope 60,NaN,Q3 2020,30916.50,173.0,NaN
1272,NaN,NaN,Sales visit,NaN,NaN,NaN,Firefly Climbing Lamp,NaN,Q3 2020,7536.29,193.0,NaN
1273,NaN,NaN,Sales visit,NaN,NaN,NaN,Firefly Charger,NaN,Q3 2020,12306.48,238.0,NaN
1274,NaN,NaN,Sales visit,NaN,NaN,NaN,Granite Axe,NaN,Q3 2020,56499.00,1472.0,NaN
1275,NaN,NaN,Sales visit,NaN,NaN,NaN,Granite Extreme,NaN,Q3 2020,89427.00,1178.0,NaN

Display the "head" of the **df** DataFrame.

In [293]:
df.head()
df.loc[:4]

,Sale_ID,Country,OrderMethod,Retailer,Line,Type,Product,YearOfSales,Quarter,Revenue,Quantity,Margin
0,NaN,NaN,Fax,NaN,NaN,NaN,TrailChef Deluxe Cook Set,NaN,Q1 2018,59728.66,491.0,NaN
1,NaN,NaN,Fax,NaN,NaN,NaN,TrailChef Double Flame,NaN,Q1 2018,36050.32,254.0,NaN
2,NaN,NaN,Fax,NaN,NaN,NaN,Star Dome,NaN,Q1 2018,90040.48,149.0,NaN
3,NaN,NaN,Fax,NaN,NaN,NaN,Star Gazer 2,NaN,Q1 2018,NaN,305.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,Compact Relief Kit,NaN,Q1 2018,NaN,182.0,NaN

Use an attribute to obtain the index and column names of **df** in a single output field.

In [294]:
df.axes

[RangeIndex(start=0, stop=1276, step=1),
 Index(['Sale_ID', 'Country', 'OrderMethod', 'Retailer', 'Line', 'Type',
        'Product', 'YearOfSales', 'Quarter', 'Revenue', 'Quantity', 'Margin'],
       dtype='object')]

Think of **sales_products_data**. Check the information along its axes as well.
<br/> Compare the output to the one from the previous code cell - are the index and column names different?

In [295]:
sales_products_data.axes

[RangeIndex(start=0, stop=1276, step=1),
 Index(['SaleID', 'RetailerCountry', 'OrderMethod', 'RetailerType',
        'ProductLine', 'ProductType', 'Product', 'Year', 'Quarter', 'Revenue',
        'Quantity', 'GrossMargin'],
       dtype='object')]

Use Python indexing on the code from the previous cell as an alternative way  to obtain the index and column names of **sales_products_data** as separate output.
<br/><br/> *Hint: You may want to open parentheses before applying the required indexing syntax!*

In [296]:
sales_products_data.axes[0]

RangeIndex(start=0, stop=1276, step=1)

In [297]:
sales_products_data.axes[1]

Index(['SaleID', 'RetailerCountry', 'OrderMethod', 'RetailerType',
       'ProductLine', 'ProductType', 'Product', 'Year', 'Quarter', 'Revenue',
       'Quantity', 'GrossMargin'],
      dtype='object')

Use an attribute to obtain metadata about the types of data stored in the different columns of the **sales_products_data** DataFrame.
<br><br> *Hint: If you've worked correctly, the obtained output will inform you that just 4 columns are containing numeric values.*

In [298]:
sales_products_data.dtypes

SaleID              object
RetailerCountry     object
OrderMethod         object
RetailerType        object
ProductLine         object
ProductType         object
Product             object
Year               float64
Quarter             object
Revenue            float64
Quantity           float64
GrossMargin        float64
dtype: object

In [299]:
sales_products_data.describe()

              Year        Revenue      Quantity  GrossMargin
count  1275.000000    1260.000000   1273.000000  1250.000000
mean   2018.427451   31416.916794    600.657502     0.459638
std       0.717596   51124.450625    977.723516     0.112575
min    2018.000000       0.000000      1.000000     0.058709
25%    2018.000000    7452.782500    108.000000     0.375364
50%    2018.000000   15997.400000    267.000000     0.462960
75%    2019.000000   39661.317500    643.000000     0.526765
max    2020.000000  944436.750000  13758.000000     0.780476

Obtain a Numpy array containing all values of the **sales_products_data**.
<br/><br/> *Note: There are two ways to achieve this - one would be to use an attribute, while the other - use a method! Try both, but keep in mind that pandas developers advise us to stick to using the method.*

In [300]:
sales_num=np.array(sales_products_data)
sales_num

array([['SaleID_1', 'United States', 'Fax', ..., 59728.66, 491.0,
        0.35754797],
       ['SaleID_2', 'United States', 'Fax', ..., 36050.32, 254.0,
        0.4842745],
       ['SaleID_3', 'United States', 'Fax', ..., 90040.48, 149.0, nan],
       ...,
       ['SaleID_1274', 'Spain', 'Sales visit', ..., 12306.48, 238.0,
        0.56842037],
       ['SaleID_1275', 'Spain', 'Sales visit', ..., 56499.0, 1472.0,
        0.49066667],
       ['SaleID_1276', 'Spain', 'Sales visit', ..., 89427.0, 1178.0,
        0.38689474]], dtype=object)

In [301]:
sales_products_data.to_numpy()

array([['SaleID_1', 'United States', 'Fax', ..., 59728.66, 491.0,
        0.35754797],
       ['SaleID_2', 'United States', 'Fax', ..., 36050.32, 254.0,
        0.4842745],
       ['SaleID_3', 'United States', 'Fax', ..., 90040.48, 149.0, nan],
       ...,
       ['SaleID_1274', 'Spain', 'Sales visit', ..., 12306.48, 238.0,
        0.56842037],
       ['SaleID_1275', 'Spain', 'Sales visit', ..., 56499.0, 1472.0,
        0.49066667],
       ['SaleID_1276', 'Spain', 'Sales visit', ..., 89427.0, 1178.0,
        0.38689474]], dtype=object)

Verify that the obtained objects are NumPy arrays with the help of the "Type" function.

In [302]:
type(sales_products_data.to_numpy())

numpy.ndarray

In [303]:
type(sales_num)

numpy.ndarray

Obtain the number of rows and columns in the
**sales_products_data** DataFrame.

In [304]:
print(len(sales_products_data.index), len(sales_products_data.columns))

1276 12

Check if the output obtained in the previous cell is a tuple.

In [305]:
sales_products_data.shape

(1276, 12)

## Data Selection in pandas DataFrames

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [306]:
# already imported
sales_products_data

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710
...,...,...,...,...,...,...,...,...,...,...,...,...
1271,SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
1272,SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
1273,SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
1274,SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
1275,SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

Although we are not advised to, retrieve the data from the 'Product' column from the **sales_products_data** column *without* using the indexing operator **[ ]**.

In [307]:
sales_products_data.Product

0       TrailChef Deluxe Cook Set
1          TrailChef Double Flame
2                       Star Dome
3                    Star Gazer 2
4              Compact Relief Kit
                  ...
1271                Husky Rope 60
1272        Firefly Climbing Lamp
1273              Firefly Charger
1274                  Granite Axe
1275              Granite Extreme
Name: Product, Length: 1276, dtype: object

Retrieve the data from the 'Product' column from the **sales_products_data** column by using the indexing operator **[ ]**.

In [308]:
sales_products_data['Product']

0       TrailChef Deluxe Cook Set
1          TrailChef Double Flame
2                       Star Dome
3                    Star Gazer 2
4              Compact Relief Kit
                  ...
1271                Husky Rope 60
1272        Firefly Climbing Lamp
1273              Firefly Charger
1274                  Granite Axe
1275              Granite Extreme
Name: Product, Length: 1276, dtype: object

Apply the **.tail()** method to the code you used in your previous response to obtain the last five rows from the "Product" column.

In [309]:
sales_products_data['Product'].tail()

1271            Husky Rope 60
1272    Firefly Climbing Lamp
1273          Firefly Charger
1274              Granite Axe
1275          Granite Extreme
Name: Product, dtype: object

Although we are not advised to, retrieve the data from the 'Quarter' column from the **sales_products_data** column *without* using the indexing operator **.[ ]**.

In [310]:
sales_products_data.Quarter

0       Q1 2018
1       Q1 2018
2       Q1 2018
3       Q1 2018
4       Q1 2018
         ...
1271    Q3 2020
1272    Q3 2020
1273    Q3 2020
1274    Q3 2020
1275    Q3 2020
Name: Quarter, Length: 1276, dtype: object

Retrieve the data from the 'Quarter' column from the **sales_products_data** column by using the indexing operator **[ ]**.

In [311]:
sales_products_data['Quarter']

0       Q1 2018
1       Q1 2018
2       Q1 2018
3       Q1 2018
4       Q1 2018
         ...
1271    Q3 2020
1272    Q3 2020
1273    Q3 2020
1274    Q3 2020
1275    Q3 2020
Name: Quarter, Length: 1276, dtype: object

Use any of the 4 previous examples to verify that the data obtained from a column of a DataFrame is actually stored in a Series object:

In [312]:
type(sales_products_data['Quarter'])

pandas.core.series.Series

<br> Use a well-know attribute and attribute chaining to obtain information about the type of data stored in the "Revenue" column.

In [313]:
sales_products_data.Revenue.dtype

dtype('float64')

**Selecting multiple columns from a DF**

Use a list with column names within the indexing operator ([ ]) to extract data from the 'Revenue' and 'Quantity' columns from the **sales_products_data** DataFrame. Use the **.head()** method to only display the top five rows of the selection.  <br>
Solve the problem by using a single line of code.

In [314]:
sales_products_data[['Revenue', 'Quantity']].head()

    Revenue  Quantity
0  59728.66     491.0
1  36050.32     254.0
2  90040.48     149.0
3       NaN     305.0
4       NaN     182.0

Can you think of a more elegant way to obtain the same result? This option is more often encountered in professional work since it improves the legibility of your code.

In [315]:
col_list = ['Revenue', 'Quantity']
sales_products_data[col_list].head()

    Revenue  Quantity
0  59728.66     491.0
1  36050.32     254.0
2  90040.48     149.0
3       NaN     305.0
4       NaN     182.0

## Data Selection - Indexing Data with .iloc[]

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [316]:
# Alreay imported
sales_products_data

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710
...,...,...,...,...,...,...,...,...,...,...,...,...
1271,SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
1272,SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
1273,SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
1274,SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
1275,SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

Select the data from the first row from the **sales_products_data** DataFrame (don't forget that in programming we start counting from 0!).

In [317]:
sales_products_data.iloc[:1,:]

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548

Select the data from the penultimate row from the **sales_products_data** DataFrame.

In [318]:
sales_products_data.iloc[-1:,:]

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
1275,SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.0,1178.0,0.386895

Select the value from the second row and sixth column of **sales_products_data** by using the **.iloc[]** accessor.
<br><br> *Hint: If you've worked correctly, you should obtain 'Cooking Gear'.*

In [319]:
sales_products_data.iloc[1, 5]

'Cooking Gear'

Although we are not advised to, can you think of an alternative syntax that you can use to obtain the same information?
<br> *Hint: You still need to use the **.iloc[]** accessor!*
<br><br> *Note: We are asking you to try this syntax out to make sure you are in control of obtaining the desired portion of the data regardless of the object it has been contained into. The syntax and tools are similar, while their utilization may differ.*

In [320]:
sales_products_data.iloc[1, 5]

'Cooking Gear'

Use the **.shape** attribute to discover the largest numbers that you can use as arguments of the **.iloc[]** accessor.

In [321]:
sales_products_data.iloc[:1275,:].shape

(1275, 12)

Considering the values you just obtained, use the **.iloc[]** accessor find out the value that has been stored in the last row and farthest-to-the-right column.

In [322]:
sales_products_data.iloc[-1, -1]

np.float64(0.38689474)

Verify that you've obtained the correct value by applying the **.tail()** method to the **sales_products_data** DataFrame.
<br> Observe the value that is farthest to the right on the last row.

In [323]:
sales_products_data.tail()

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
1271,SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
1272,SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
1273,SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
1274,SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
1275,SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

Prove that **.iloc[]** can be applied to a Series object such as **sales_products_data['Product']** as well (e.g. by obtaining the first element from this column).
<br><br> *Note: We are asking you to try this syntax out to make sure you are in control of obtaining the desired portion of the data regardless of the object it has been contained into. The syntax and tools are similar, while their utilization may differ.*
<br> *This note applies to this and the next task.*

In [324]:
sales_products_data['Product'].iloc[0:1]

0    TrailChef Deluxe Cook Set
Name: Product, dtype: object

Although we are not advised to, when working with a Series object, we can obtain the same output without using the **.iloc[]** indexer and using "classical" Python indexing. Can you try that out?

In [325]:
sales_products_data['Product'][0]

'TrailChef Deluxe Cook Set'

## Data Selection - Indexing with .loc[]

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the 'SaleID' column as an index for this DataFrame throughout this exercise.*

In [326]:
sales_products_data

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710
...,...,...,...,...,...,...,...,...,...,...,...,...
1271,SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
1272,SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
1273,SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
1274,SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
1275,SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

Retrieve the values from the first row of the DataFrame by using the specified label-based index rather than the default numeric index.

In [327]:
sales_products_data['Product'].iloc[0:1]

0    TrailChef Deluxe Cook Set
Name: Product, dtype: object

Although we are not advised to, when working with a Series object, we can obtain the same output without using the .iloc[] indexer and using "classical" Python indexing. Can you try that out?By using the specified label-based index again, retrieve the information stored in the 'GrossMargin' column for the 4th sale.

In [328]:
sales_products_data['GrossMargin']

0       0.357548
1       0.484274
2            NaN
3       0.292938
4       0.610710
          ...
1271    0.298114
1272    0.445287
1273    0.568420
1274    0.490667
1275    0.386895
Name: GrossMargin, Length: 1276, dtype: float64

Obtain a DataFrame containg the values stored in all columns for sales numbered 15, 235, and 1147 by using the **.loc[]** indexer.

In [329]:
sales_products_data = pd.read_csv('/content/drive/MyDrive/Pandas_Exercises/Sales-products.csv', index_col='SaleID')
sales_products_data

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710
...,...,...,...,...,...,...,...,...,...,...,...
SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

In [330]:
sales_products_data.loc[['SaleID_15', 'SaleID_235', 'SaleID_1147'], :]

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_15,United States,Web,Mall,Personal Accessories,Eyewear,Hawk Eye,2018.0,Q1 2018,29584.00,730.0,0.410535
SaleID_235,Mexico,Web,Mall,Personal Accessories,Eyewear,Fairway,2018.0,Q3 2018,12331.05,609.0,0.404658
SaleID_1147,Germany,Phone,Department Store,Camping Equipment,Lanterns,Firefly 4,2020.0,Q1 2020,7587.64,258.0,0.387587

With the help of the **.loc[]** indexer, select the last 5 records from the 'Year' column.

In [331]:
sales_products_data.loc[sales_products_data.index[-5:], 'Year']

SaleID
SaleID_1272    2020.0
SaleID_1273    2020.0
SaleID_1274    2020.0
SaleID_1275    2020.0
SaleID_1276    2020.0
Name: Year, dtype: float64

## A Few Comments on Using .loc[] and .iloc[]

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the 'SaleID' column as an index for this DataFrame throughout this exercise.*

In [332]:
sales_products_data

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710
...,...,...,...,...,...,...,...,...,...,...,...
SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

Although we are not advised to, can you think of an alternative syntax that you can use to obtain the same information?
<br> *Hint: You don't need to use the **.loc[]** indexer.*
<br><br> *Notes:*
- *The syntax here differs from the syntax applied when we need the *.iloc[] indexer for a similar operation.*
- *We are asking you to try this syntax out to make sure you are in control of obtaining the desired portion of the data regardless of the object it has been contained into. The syntax and tools are similar, while their utilization may differ.*

Consider that you can obtain a Series object containing the values from the 'GrossMargin' column by executing the cell below.

In [333]:
sales_products_data['GrossMargin']

SaleID
SaleID_1       0.357548
SaleID_2       0.484274
SaleID_3            NaN
SaleID_4       0.292938
SaleID_5       0.610710
                 ...
SaleID_1272    0.298114
SaleID_1273    0.445287
SaleID_1274    0.568420
SaleID_1275    0.490667
SaleID_1276    0.386895
Name: GrossMargin, Length: 1276, dtype: float64

With that in mind, although we are not advised to, can you think of a third alternative way to obtain the value of 0.28293788?

Use both the **.loc[]** and **.iloc[]** indexers to obtain the values from the 10th and 15th rows from column "OrderMethod" from the **sales_products_data** DataFrame.

In [334]:
print('Using .iloc[]:')
print(sales_products_data.iloc[[9, 14], sales_products_data.columns.get_loc('OrderMethod')])

print('\nUsing .loc[]:')
print(sales_products_data.loc[['SaleID_10', 'SaleID_15'], 'OrderMethod'])

Using .iloc[]:
SaleID
SaleID_10    Mail
SaleID_15     Web
Name: OrderMethod, dtype: object

Using .loc[]:
SaleID
SaleID_10    Mail
SaleID_15     Web
Name: OrderMethod, dtype: object

Use the **.iloc[]** indexer to obtain a DataFrame composed of the 2nd and 3rd columns of **sales_products_data**.

In [335]:
sales_products_data.iloc[:, [1, 2]]

             OrderMethod   RetailerType
SaleID
SaleID_1             Fax  Outdoors Shop
SaleID_2             Fax  Outdoors Shop
SaleID_3             Fax  Outdoors Shop
SaleID_4             Fax  Outdoors Shop
SaleID_5             NaN  Outdoors Shop
...                  ...            ...
SaleID_1272  Sales visit  Outdoors Shop
SaleID_1273  Sales visit  Outdoors Shop
SaleID_1274  Sales visit  Outdoors Shop
SaleID_1275  Sales visit  Outdoors Shop
SaleID_1276  Sales visit  Outdoors Shop

[1276 rows x 2 columns]

Use the **.loc[]** accessor to obtain a DataFrame composed of the records of **sales_products_data** for sales with ID 50 and 87.

In [336]:
sales_products_data.loc[['SaleID_50', 'SaleID_87'], :]

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_50,Canada,Web,Sports Store,Mountaineering Equipment,Binoculars,Seeker 50,2018.0,Q1 2018,11067.22,89.0,0.275588
SaleID_87,Austria,Web,Sports Store,Personal Accessories,Tents,Star Peg,2018.0,Q2 2018,3325.94,1599.0,NaN