<a href="https://colab.research.google.com/github/krishnavarathan/python-data-analysis/blob/main/Preprocessing_Data_With_NumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preprocessing with NumPy

In [489]:
import numpy as np

## Checking for Missing Values

In [490]:
lending_co_data_numeric = np.loadtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data.csv", delimiter = ',')

## If np.loadtxt() compiles first time, the dataset consists of only numeric values and has no missing data.
(lending_co_data_numeric)

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [491]:
np.isnan(lending_co_data_numeric).sum()

## isnan() determines whether data is missing data for the individual elements in an array (True -> Missing, False -> Not missing)
## By adding .sum(), we get the total number of missing elements in the data.

np.int64(0)

In [492]:
lending_co_data_numeric_NAN = np.genfromtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data-NAN.csv", delimiter = ';')

In [493]:
np.isnan(lending_co_data_numeric_NAN).sum()

np.int64(260)

In [494]:
lending_co_data_numeric_NAN = np.genfromtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data-NAN.csv",
                                            delimiter = ';',
                                            filling_values = 0)

## Filling_values substitutes every nan with the value we're passing (0 in this case)

In [495]:
np.isnan(lending_co_data_numeric_NAN).sum()

## All the previously missing values are now 0s.

np.int64(0)

In [496]:
lending_co_data_numeric_NAN = np.genfromtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data-NAN.csv",
                                            delimiter = ';')

# We need to reimport the dataset since all the missing values are filled up.

In [497]:
temporary_fill = np.nanmax(lending_co_data_numeric_NAN).round(2) + 1

# We use nanmax(), since max() returns nan.
# We want a value greater than the max, since we have be certain it's unique to the dataset.

In [498]:
temporary_fill

np.float64(64002.0)

In [499]:
lending_co_data_numeric_NAN = np.genfromtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data-NAN.csv",
                                            delimiter = ';',
                                            filling_values = temporary_fill)

# Filling up all the missing values with the temporary filler.

In [500]:

np.isnan(lending_co_data_numeric_NAN)

array([[False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       ...,
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False]])

In [501]:
np.isnan(lending_co_data_numeric_NAN).sum()

np.int64(0)

## Substituting Missing Values

In [502]:
lending_co_data_numeric_NAN = np.genfromtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data-NAN.csv", delimiter = ';')
lending_co_data_numeric_NAN

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [   nan,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [503]:
temporary_mean = np.nanmean(lending_co_data_numeric_NAN, axis = 0).round(2)
temporary_mean.shape

## Storing the means of every column.

(6,)

In [504]:
temporary_mean[0]

np.float64(2250.25)

In [505]:
temporary_fill = np.nanmax(lending_co_data_numeric_NAN).round(2) + 1

lending_co_data_numeric_NAN = np.genfromtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data-NAN.csv",
                                            delimiter = ';',
                                            filling_values = temporary_fill)

## Creating a unique filler and using it to take care of all the missing values.

In [506]:
temporary_fill

np.float64(64002.0)

In [507]:
np.mean(lending_co_data_numeric_NAN[:,0]).round(2)

# Supposed mean (w/ fillers)

np.float64(4263.25)

In [508]:
temporary_mean[0]

# Actual mean (w/0 fillers)

np.float64(2250.25)

In [509]:
lending_co_data_numeric_NAN[:,0]=np.where(lending_co_data_numeric_NAN[:,0] == temporary_fill,
                                          temporary_mean[0],
                                          lending_co_data_numeric_NAN[:,0])

# lending_co_data_numeric_NAN[:,0] = np.where(lending_co_data_numeric_NAN[:,0] == temporary_fill,
#                                             temporary_mean[0],
#                                             lending_co_data_numeric_NAN[:,0])

# Going through the first column and substituting any temporary fillers (previously missing) with the mean for that column.

In [510]:
np.mean(lending_co_data_numeric_NAN[:,0]).round(2)

# New mean equals old mean.

np.float64(2250.25)

In [511]:
for i in range(lending_co_data_numeric_NAN.shape[1]):
  lending_co_data_numeric_NAN[:,i]=np.where(lending_co_data_numeric_NAN[:,i] == temporary_fill,
                                               temporary_mean[i],
                                               lending_co_data_numeric_NAN[:,i])


# for i in range(lending_co_data_numeric_NAN.shape[1]):
#     lending_co_data_numeric_NAN[:,i] = np.where(lending_co_data_numeric_NAN[:,i] == temporary_fill,
#                                                 temporary_mean[i],
#                                                 lending_co_data_numeric_NAN[:,i])
# We're generalizing the filling from earlier and going through all the columns.

In [512]:
np.mean(lending_co_data_numeric_NAN[:,1]).round(2)

np.float64(46.11)

In [513]:
for i in range(lending_co_data_numeric_NAN.shape[1]):
    lending_co_data_numeric_NAN[:,i] = np.where(lending_co_data_numeric_NAN[:, i] < 0,
                                                0,
                                                lending_co_data_numeric_NAN[:,i])

# We can use this approach for other applications as well (e.g. remove all negative values and set them to 0)

## Reshaping

In [514]:
lending_co_data_numeric = np.loadtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data.csv", delimiter = ',')

In [515]:
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [516]:
lending_co_data_numeric.shape

(1043, 6)

In [517]:
np.reshape(lending_co_data_numeric, (6,1043))

# Reshaping (1043,6) to (6,1043) is not the same as transposing.

array([[ 2000.,    40.,   365., ...,   365.,  1581.,  3041.],
       [12277.,  2000.,    40., ...,    50.,   365.,  5350.],
       [ 6850., 15150.,  1000., ...,  2000.,    40.,   365.],
       [ 3101.,  4351., 16600., ..., 16600.,  2000.,    40.],
       [  365.,  3441.,  4661., ...,  8450., 22250.,  2000.],
       [   40.,   365.,  3701., ...,  4601.,  4601., 16600.]])

In [518]:
np.transpose(lending_co_data_numeric)

array([[ 2000.,  2000.,  1000., ...,  2000.,  1000.,  2000.],
       [   40.,    40.,    40., ...,    40.,    40.,    40.],
       [  365.,   365.,   365., ...,   365.,   365.,   365.],
       [ 3121.,  3061.,  2160., ...,  4201.,  2080.,  4601.],
       [ 4241.,  4171.,  3280., ...,  5001.,  3320.,  4601.],
       [13621., 15041., 15340., ..., 16600., 15600., 16600.]])

In [519]:
np.reshape(lending_co_data_numeric, (1,1,2,3,1043))

# We can choose whatever shape we wish as long as the product of the dimensions matches the total number of elements in the array.

array([[[[[ 2000.,    40.,   365., ...,   365.,  1581.,  3041.],
          [12277.,  2000.,    40., ...,    50.,   365.,  5350.],
          [ 6850., 15150.,  1000., ...,  2000.,    40.,   365.]],

         [[ 3101.,  4351., 16600., ..., 16600.,  2000.,    40.],
          [  365.,  3441.,  4661., ...,  8450., 22250.,  2000.],
          [   40.,   365.,  3701., ...,  4601.,  4601., 16600.]]]]])

In [520]:
lending_co_data_numeric

# Reshaping doesn't alter the original array.

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [521]:
lending_co_data_numeric_2 = np.reshape(lending_co_data_numeric, (6,1043))
lending_co_data_numeric_2

array([[ 2000.,    40.,   365., ...,   365.,  1581.,  3041.],
       [12277.,  2000.,    40., ...,    50.,   365.,  5350.],
       [ 6850., 15150.,  1000., ...,  2000.,    40.,   365.],
       [ 3101.,  4351., 16600., ..., 16600.,  2000.,    40.],
       [  365.,  3441.,  4661., ...,  8450., 22250.,  2000.],
       [   40.,   365.,  3701., ...,  4601.,  4601., 16600.]])

In [522]:
lending_co_data_numeric.reshape(6,1043)

# Equivalent method.

array([[ 2000.,    40.,   365., ...,   365.,  1581.,  3041.],
       [12277.,  2000.,    40., ...,    50.,   365.,  5350.],
       [ 6850., 15150.,  1000., ...,  2000.,    40.,   365.],
       [ 3101.,  4351., 16600., ..., 16600.,  2000.,    40.],
       [  365.,  3441.,  4661., ...,  8450., 22250.,  2000.],
       [   40.,   365.,  3701., ...,  4601.,  4601., 16600.]])

In [523]:
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

## Removing Values

In [524]:
lending_co_data_numeric = np.loadtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data.csv", delimiter = ',')

In [525]:
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [526]:
print(np.delete(lending_co_data_numeric, 0))

print(np.delete(lending_co_data_numeric, 0).shape)

# Removes the first value of the flattened array.

[   40.   365.  3121. ...  4601.  4601. 16600.]
(6257,)

In [527]:
lending_co_data_numeric.shape

(1043, 6)

In [528]:
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [529]:
np.delete(lending_co_data_numeric, [0,2,4] , axis = 1)

# By setting an axis, we can simultaneously delete entire rows or columns.

array([[   40.,  3121., 13621.],
       [   40.,  3061., 15041.],
       [   40.,  2160., 15340.],
       ...,
       [   40.,  4201., 16600.],
       [   40.,  2080., 15600.],
       [   40.,  4601., 16600.]])

In [530]:
np.delete(np.delete(lending_co_data_numeric, [0,2,4] , axis = 1), [0,2,-1] , axis = 0)

# We can simultaneously delete rows AND columns.

array([[   40.,  3061., 15041.],
       [   40.,  3041., 15321.],
       [   50.,  3470., 13720.],
       ...,
       [   40.,  4240., 16600.],
       [   40.,  4201., 16600.],
       [   40.,  2080., 15600.]])

## Sorting Data

In [531]:
lending_co_data_numeric = np.loadtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data.csv", delimiter = ',')
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [532]:
np.sort(lending_co_data_numeric).shape

(1043, 6)

In [533]:
lending_co_data_numeric.shape

(1043, 6)

In [534]:
np.sort(lending_co_data_numeric, axis = None)

array([-2870., -2870., -2550., ..., 54625., 54625., 64001.])

In [535]:
np.set_printoptions(suppress = True)

# Supresses scientific notatoin when printing.

In [536]:
np.sort(lending_co_data_numeric)

array([[   40.,   365.,  2000.,  3121.,  4241., 13621.],
       [   40.,   365.,  2000.,  3061.,  4171., 15041.],
       [   40.,   365.,  1000.,  2160.,  3280., 15340.],
       ...,
       [   40.,   365.,  2000.,  4201.,  5001., 16600.],
       [   40.,   365.,  1000.,  2080.,  3320., 15600.],
       [   40.,   365.,  2000.,  4601.,  4601., 16600.]])

In [537]:
-np.sort(-lending_co_data_numeric)

## Adding two minus signs sorts the array in descending order

array([[13621.,  4241.,  3121.,  2000.,   365.,    40.],
       [15041.,  4171.,  3061.,  2000.,   365.,    40.],
       [15340.,  3280.,  2160.,  1000.,   365.,    40.],
       ...,
       [16600.,  5001.,  4201.,  2000.,   365.,    40.],
       [15600.,  3320.,  2080.,  1000.,   365.,    40.],
       [16600.,  4601.,  4601.,  2000.,   365.,    40.]])

In [538]:
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [539]:
lending_co_data_numeric.sort(axis = 0)
lending_co_data_numeric

# The equivalent method stores the values in the column-wise.

array([[ 1000.,    35.,   365., -2870., -2870.,  -350.],
       [ 1000.,    35.,   365., -2550., -2100.,   150.],
       [ 1000.,    35.,   365., -2450., -2000.,  1100.],
       ...,
       [ 9000.,   125.,   365., 16751., 18751., 54625.],
       [ 9000.,   165.,   365., 17650., 20001., 54625.],
       [ 9000.,   165.,   365., 19001., 22001., 64001.]])

## Argument Functions

### np.argsort()

In [540]:
lending_co_data_numeric = np.loadtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data.csv", delimiter = ',')
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [541]:
np.argsort(lending_co_data_numeric)

# Returns the order which will sort the array.

array([[1, 2, 0, 3, 4, 5],
       [1, 2, 0, 3, 4, 5],
       [1, 2, 0, 3, 4, 5],
       ...,
       [1, 2, 0, 3, 4, 5],
       [1, 2, 0, 3, 4, 5],
       [1, 2, 0, 3, 4, 5]])

In [542]:
np.sort(lending_co_data_numeric, axis = 0)

array([[ 1000.,    35.,   365., -2870., -2870.,  -350.],
       [ 1000.,    35.,   365., -2550., -2100.,   150.],
       [ 1000.,    35.,   365., -2450., -2000.,  1100.],
       ...,
       [ 9000.,   125.,   365., 16751., 18751., 54625.],
       [ 9000.,   165.,   365., 17650., 20001., 54625.],
       [ 9000.,   165.,   365., 19001., 22001., 64001.]])

In [543]:
np.argsort(lending_co_data_numeric, axis = 0)

array([[1041,  816, 1039,   32,   32,  482],
       [  22,  432, 1038,  166,  166,  493],
       [  23,  443, 1037,   85,   85,  166],
       ...,
       [ 978,  153, 1041,  568, 1019,  568],
       [ 193,   27, 1042,  718, 1033,  953],
       [ 202,  408,    0,  912,  912,   27]])

In [544]:
lending_co_data_numeric[482,5]

np.float64(-350.0)

In [545]:
lending_co_data_numeric = lending_co_data_numeric[np.argsort(lending_co_data_numeric[:,0])]
lending_co_data_numeric

# Sorts the array based on the values in the 1st column.

array([[ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 1000.,    50.,   365.,  1400.,  2550., 12700.],
       [ 1000.,    40.,   365.,  2240.,  4560., 14520.],
       ...,
       [ 9000.,   125.,   365., 13001., 17001., 54625.],
       [ 9000.,   125.,   365., 12501., 16001., 52751.],
       [ 9000.,   125.,   365., 12270., 16070., 45745.]])

In [546]:
lending_co_data_numeric.argsort(axis = 0)

# The method doesn't sort in place.

array([[   0,  216, 1039,    4,    4,  160],
       [   1,  181, 1038,  145,  145,  163],
       [   2,  173, 1037,   67,   67,  145],
       ...,
       [1042, 1037, 1041, 1031, 1028, 1024],
       [1028, 1025, 1042,  890, 1036, 1028],
       [1027, 1033,    0, 1024, 1024, 1025]])

In [547]:
lending_co_data_numeric

array([[ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 1000.,    50.,   365.,  1400.,  2550., 12700.],
       [ 1000.,    40.,   365.,  2240.,  4560., 14520.],
       ...,
       [ 9000.,   125.,   365., 13001., 17001., 54625.],
       [ 9000.,   125.,   365., 12501., 16001., 52751.],
       [ 9000.,   125.,   365., 12270., 16070., 45745.]])

### np.argwhere()

In [548]:
lending_co_data_numeric = np.loadtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data.csv", delimiter = ',')
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [549]:
np.argwhere(lending_co_data_numeric == False)

# Default condition is to return values different from 0.

array([[116,   4],
       [430,   3]])

In [550]:
lending_co_data_numeric[430]

array([1000.,   50.,  365.,    0.,  550., 5650.])

In [551]:
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [552]:
np.argwhere(lending_co_data_numeric %2 == 0)

# The condition can be more complex

array([[   0,    0],
       [   0,    1],
       [   1,    0],
       ...,
       [1042,    0],
       [1042,    1],
       [1042,    5]])

In [553]:
np.isnan(lending_co_data_numeric).sum()

np.int64(0)

In [554]:
lending_co_data_numeric_NAN = np.genfromtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data-NAN.csv", delimiter = ';')
lending_co_data_numeric_NAN

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [   nan,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [555]:
np.argwhere(np.isnan(lending_co_data_numeric_NAN))

# Returns the coordinates of all the missing values within the array.

array([[  11,    3],
       [  15,    3],
       [  27,    3],
       [  58,    3],
       [  60,    4],
       [  85,    4],
       [ 117,    5],
       [ 152,    1],
       [ 152,    2],
       [ 152,    4],
       [ 172,    1],
       [ 175,    1],
       [ 175,    2],
       [ 176,    3],
       [ 177,    4],
       [ 178,    5],
       [ 211,    3],
       [ 229,    0],
       [ 230,    1],
       [ 237,    1],
       [ 247,    3],
       [ 251,    5],
       [ 252,    4],
       [ 258,    1],
       [ 260,    3],
       [ 262,    4],
       [ 271,    5],
       [ 272,    4],
       [ 284,    2],
       [ 284,    3],
       [ 297,    1],
       [ 297,    2],
       [ 300,    3],
       [ 315,    3],
       [ 315,    5],
       [ 327,    4],
       [ 336,    4],
       [ 343,    0],
       [ 344,    2],
       [ 346,    2],
       [ 363,    3],
       [ 375,    3],
       [ 377,    2],
       [ 398,    5],
       [ 416,    4],
       [ 428,    0],
       [ 432,    1],
       [ 433,    3],
       [ 434,    2],
       [ 440,    3],
       [ 441,    1],
       [ 446,    2],
       [ 455,    1],
       [ 456,    2],
       [ 458,    2],
       [ 461,    3],
       [ 467,    4],
       [ 468,    0],
       [ 469,    3],
       [ 470,    0],
       [ 481,    1],
       [ 482,    3],
       [ 484,    4],
       [ 489,    0],
       [ 493,    5],
       [ 499,    0],
       [ 504,    3],
       [ 506,    1],
       [ 517,    4],
       [ 518,    0],
       [ 521,    2],
       [ 530,    5],
       [ 532,    3],
       [ 534,    5],
       [ 547,    3],
       [ 549,    5],
       [ 553,    5],
       [ 554,    5],
       [ 559,    3],
       [ 566,    0],
       [ 566,    1],
       [ 566,    2],
       [ 567,    0],
       [ 567,    1],
       [ 567,    2],
       [ 581,    1],
       [ 581,    2],
       [ 582,    1],
       [ 582,    2],
       [ 583,    1],
       [ 583,    2],
       [ 593,    3],
       [ 594,    3],
       [ 595,    3],
       [ 596,    3],
       [ 609,    4],
       [ 609,    5],
       [ 610,    4],
       [ 610,    5],
       [ 611,    4],
       [ 611,    5],
       [ 612,    4],
       [ 612,    5],
       [ 623,    2],
       [ 623,    3],
       [ 624,    2],
       [ 624,    3],
       [ 625,    2],
       [ 625,    3],
       [ 626,    2],
       [ 626,    3],
       [ 627,    2],
       [ 627,    3],
       [ 636,    0],
       [ 637,    0],
       [ 637,    4],
       [ 637,    5],
       [ 638,    0],
       [ 638,    4],
       [ 638,    5],
       [ 639,    4],
       [ 639,    5],
       [ 640,    4],
       [ 640,    5],
       [ 641,    4],
       [ 641,    5],
       [ 653,    1],
       [ 653,    2],
       [ 653,    3],
       [ 653,    4],
       [ 654,    1],
       [ 654,    2],
       [ 654,    3],
       [ 654,    4],
       [ 655,    1],
       [ 655,    2],
       [ 655,    3],
       [ 655,    4],
       [ 685,    2],
       [ 686,    0],
       [ 701,    4],
       [ 704,    2],
       [ 724,    1],
       [ 724,    2],
       [ 730,    1],
       [ 730,    2],
       [ 730,    3],
       [ 731,    1],
       [ 731,    2],
       [ 731,    3],
       [ 732,    1],
       [ 732,    2],
       [ 732,    3],
       [ 733,    1],
       [ 733,    2],
       [ 733,    3],
       [ 742,    4],
       [ 747,    3],
       [ 755,    1],
       [ 758,    1],
       [ 760,    1],
       [ 764,    0],
       [ 764,    1],
       [ 764,    2],
       [ 764,    3],
       [ 764,    4],
       [ 764,    5],
       [ 765,    3],
       [ 775,    1],
       [ 775,    2],
       [ 775,    3],
       [ 776,    1],
       [ 776,    2],
       [ 776,    3],
       [ 777,    1],
       [ 777,    2],
       [ 777,    3],
       [ 778,    1],
       [ 778,    2],
       [ 778,    3],
       [ 787,    4],
       [ 788,    1],
       [ 790,    2],
       [ 794,    3],
       [ 795,    5],
       [ 796,    1],
       [ 796,    4],
       [ 800,    0],
       [ 801,    1],
       [ 802,    1],
       [ 803,    2],
       [ 805,    0],
       [ 809,    0],
       [ 810,    0],
       [ 811,    0],
       [ 812,    1],
       [ 820,    0],
       [ 820,    3],
       [ 820,    4],
       [ 822,    2],
       [ 823,    2],
       [ 825,    0],
       [ 830,    1],
       [ 830,    2],
       [ 836,    3],
       [ 837,    3],
       [ 838,    3],
       [ 839,    4],
       [ 843,    2],
       [ 856,    0],
       [ 856,    1],
       [ 856,    3],
       [ 856,    4],
       [ 856,    5],
       [ 857,    0],
       [ 858,    1],
       [ 870,    0],
       [ 870,    2],
       [ 870,    3],
       [ 872,    0],
       [ 873,    0],
       [ 874,    1],
       [ 890,    1],
       [ 890,    2],
       [ 890,    3],
       [ 909,    1],
       [ 910,    0],
       [ 912,    0],
       [ 912,    2],
       [ 912,    3],
       [ 912,    4],
       [ 928,    1],
       [ 928,    2],
       [ 928,    3],
       [ 929,    1],
       [ 929,    2],
       [ 929,    3],
       [ 930,    3],
       [ 958,    2],
       [ 959,    3],
       [ 960,    3],
       [1024,    0],
       [1024,    2],
       [1026,    2],
       [1026,    4],
       [1028,    0],
       [1028,    3],
       [1028,    4],
       [1029,    0],
       [1030,    1],
       [1030,    5],
       [1032,    0],
       [1032,    5],
       [1034,    3],
       [1035,    4],
       [1036,    2],
       [1037,    1],
       [1038,    4],
       [1039,    3],
       [1040,    0]])

In [556]:
lending_co_data_numeric_NAN[175]

array([ 2000.,    nan,    nan,  1851.,  3051., 13561.])

In [557]:
for array_index in np.argwhere(np.isnan(lending_co_data_numeric_NAN)):
    lending_co_data_numeric_NAN[array_index[0], array_index[1]] = 0

## By going through the coordinates of all the mising values of the array, we can fill them up.

In [558]:
lending_co_data_numeric_NAN[175]

array([ 2000.,     0.,     0.,  1851.,  3051., 13561.])

In [559]:
np.isnan(lending_co_data_numeric_NAN).sum()

np.int64(0)

## Shuffling Data

In [560]:
lending_co_data_numeric = np.loadtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data.csv", delimiter = ',')[:8]
lending_co_data_numeric

# We can directly index the output of the np.loadtxt() function to only take certain parts of the dataset.

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       [ 2000.,    40.,   365.,  3041.,  4241., 15321.],
       [ 2000.,    50.,   365.,  3470.,  4820., 13720.],
       [ 2000.,    40.,   365.,  3201.,  4141., 14141.],
       [ 2000.,    50.,   365.,  1851.,  3251., 17701.],
       [ 2000.,    40.,   365.,  3971.,  4131., 15351.]])

In [561]:
np.random.shuffle(lending_co_data_numeric)

# Shuffles the array (and automatically overwrites it).

In [562]:
lending_co_data_numeric

array([[ 2000.,    50.,   365.,  3470.,  4820., 13720.],
       [ 2000.,    50.,   365.,  1851.,  3251., 17701.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       [ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3201.,  4141., 14141.],
       [ 2000.,    40.,   365.,  3041.,  4241., 15321.],
       [ 2000.,    40.,   365.,  3971.,  4131., 15351.]])

In [563]:
np.random.shuffle(lending_co_data_numeric)
lending_co_data_numeric

# We can shuffle the array as many times as we wish (although 1 usually suffices).

array([[ 2000.,    50.,   365.,  1851.,  3251., 17701.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       [ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3041.,  4241., 15321.],
       [ 2000.,    40.,   365.,  3971.,  4131., 15351.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 2000.,    50.,   365.,  3470.,  4820., 13720.],
       [ 2000.,    40.,   365.,  3201.,  4141., 14141.]])

In [564]:
lending_co_data_numeric = np.loadtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data.csv", delimiter = ',')
lending_co_data_numeric

# We can now use the entire dataset.

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [565]:
from numpy.random import shuffle
# a=[1,2,3]
# shuffle(a)
# a[0]

# We can import functions we use multiple times for convenience.

In [566]:
shuffle(lending_co_data_numeric)
lending_co_data_numeric

# We write shuffle() instead of numpy.random.shuffle() since we imported the function earlier.

array([[ 2000.,    40.,   365.,  3081.,  4341., 16600.],
       [ 4000.,    50.,   365.,  5750.,  7450., 20250.],
       [ 2000.,    50.,   365.,  6400.,  7900., 20250.],
       ...,
       [ 4000.,    50.,   365.,  5350.,  6850., 22250.],
       [ 2000.,    40.,   365.,  4401.,  5601., 16600.],
       [ 1000.,    40.,   365.,  2200.,  4600., 15600.]])

In [567]:
from numpy.random import Generator as gen
from numpy.random import PCG64 as pcg

# Random generators can be used for shuffling.

In [568]:
# array_RG = gen(pcg(seed = 365))
array_RG = gen(pcg())
array_RG.shuffle(lending_co_data_numeric)
lending_co_data_numeric

# Seeds don't work for shuffling (and it's intended).

array([[ 2000.,    40.,   365.,  4901.,  6401., 16600.],
       [ 1000.,    50.,   365.,   750.,  2350., 11450.],
       [ 4000.,    50.,   365.,  5550.,  7050., 21900.],
       ...,
       [ 1000.,    50.,   365.,  -750.,   250., 19250.],
       [ 2000.,    40.,   365.,  3101.,  4296., 16600.],
       [ 2000.,    40.,   365.,  4361.,  6081., 16600.]])

## Casting

In [569]:
lending_co_data_numeric = np.loadtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data.csv", delimiter = ',')
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [570]:
lending_co_data_numeric.astype(dtype = np.int32)

# Creates an integer version of the array.

array([[ 2000,    40,   365,  3121,  4241, 13621],
       [ 2000,    40,   365,  3061,  4171, 15041],
       [ 1000,    40,   365,  2160,  3280, 15340],
       ...,
       [ 2000,    40,   365,  4201,  5001, 16600],
       [ 1000,    40,   365,  2080,  3320, 15600],
       [ 2000,    40,   365,  4601,  4601, 16600]], dtype=int32)

In [571]:
# lending_co_data_numeric = lending_co_data_numeric.astype(dtype = str)

# We need to overwrite the variable in order to work with strings.

In [572]:
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [573]:
type(lending_co_data_numeric)

numpy.ndarray

In [574]:
lending_co_data_numeric = lending_co_data_numeric.astype(dtype = np.float32)
lending_co_data_numeric.astype(dtype = np.int32)

## We can't directly cast strings to integers. We can go through floats (string -> float -> integer).

array([[ 2000,    40,   365,  3121,  4241, 13621],
       [ 2000,    40,   365,  3061,  4171, 15041],
       [ 1000,    40,   365,  2160,  3280, 15340],
       ...,
       [ 2000,    40,   365,  4201,  5001, 16600],
       [ 1000,    40,   365,  2080,  3320, 15600],
       [ 2000,    40,   365,  4601,  4601, 16600]], dtype=int32)

In [575]:
lending_co_data_numeric = np.loadtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data.csv", delimiter = ',')
lending_co_data_numeric = lending_co_data_numeric.astype(dtype = str)
lending_co_data_numeric

# To showcase the other way to go from strings to integers, we need to get the strings version of the array once again.

array([['2000.0', '40.0', '365.0', '3121.0', '4241.0', '13621.0'],
       ['2000.0', '40.0', '365.0', '3061.0', '4171.0', '15041.0'],
       ['1000.0', '40.0', '365.0', '2160.0', '3280.0', '15340.0'],
       ...,
       ['2000.0', '40.0', '365.0', '4201.0', '5001.0', '16600.0'],
       ['1000.0', '40.0', '365.0', '2080.0', '3320.0', '15600.0'],
       ['2000.0', '40.0', '365.0', '4601.0', '4601.0', '16600.0']],
      dtype='<U32')

In [576]:
lending_co_data_numeric.astype(dtype = np.float32).astype(dtype = np.int32)
lending_co_data_numeric

## We can chain methods in NumPy.

array([['2000.0', '40.0', '365.0', '3121.0', '4241.0', '13621.0'],
       ['2000.0', '40.0', '365.0', '3061.0', '4171.0', '15041.0'],
       ['1000.0', '40.0', '365.0', '2160.0', '3280.0', '15340.0'],
       ...,
       ['2000.0', '40.0', '365.0', '4201.0', '5001.0', '16600.0'],
       ['1000.0', '40.0', '365.0', '2080.0', '3320.0', '15600.0'],
       ['2000.0', '40.0', '365.0', '4601.0', '4601.0', '16600.0']],
      dtype='<U32')

## Stripping Data

In [577]:
lending_co_total_price = np.genfromtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data.csv",
                                       delimiter = ',',
                                       dtype = str,
                                       skip_header = 1,
                                       usecols = [1,2,4])
lending_co_total_price

# We don't neeed the entire array. We only want a few columns to showcase how stripping data works.

array([['40', '365', '4171'],
       ['40', '365', '3280'],
       ['40', '365', '4241'],
       ...,
       ['40', '365', '5001'],
       ['40', '365', '3320'],
       ['40', '365', '4601']], dtype='<U5')

In [578]:
lending_co_total_price[:,0] = np.chararray.strip(lending_co_total_price[:,0], "id_")
lending_co_total_price[:,1] = np.chararray.strip(lending_co_total_price[:,1], "Product ")
lending_co_total_price[:,2] = np.chararray.strip(lending_co_total_price[:,2], "Location ")
lending_co_total_price

# Remove "id_" from the 1st column, as well as "Product " from the second and "Location " from the third one.

/tmp/ipython-input-3355118475.py:1: DeprecationWarning: `np.chararray` is deprecated and will be removed from the main namespace in the future. Use an array with a string or bytes dtype instead.
  lending_co_total_price[:,0] = np.chararray.strip(lending_co_total_price[:,0], "id_")
/tmp/ipython-input-3355118475.py:2: DeprecationWarning: `np.chararray` is deprecated and will be removed from the main namespace in the future. Use an array with a string or bytes dtype instead.
  lending_co_total_price[:,1] = np.chararray.strip(lending_co_total_price[:,1], "Product ")
/tmp/ipython-input-3355118475.py:3: DeprecationWarning: `np.chararray` is deprecated and will be removed from the main namespace in the future. Use an array with a string or bytes dtype instead.
  lending_co_total_price[:,2] = np.chararray.strip(lending_co_total_price[:,2], "Location ")

array([['40', '365', '4171'],
       ['40', '365', '3280'],
       ['40', '365', '4241'],
       ...,
       ['40', '365', '5001'],
       ['40', '365', '3320'],
       ['40', '365', '4601']], dtype='<U5')

In [579]:
lending_co_total_price[:,1] = np.where(lending_co_total_price[:,1] == 'A', '1', lending_co_total_price[:,1])
lending_co_total_price[:,1] = np.where(lending_co_total_price[:,1] == 'B', '2', lending_co_total_price[:,1])
lending_co_total_price[:,1] = np.where(lending_co_total_price[:,1] == 'C', '3', lending_co_total_price[:,1])
lending_co_total_price[:,1] = np.where(lending_co_total_price[:,1] == 'D', '4', lending_co_total_price[:,1])
lending_co_total_price[:,1] = np.where(lending_co_total_price[:,1] == 'E', '5', lending_co_total_price[:,1])
lending_co_total_price[:,1] = np.where(lending_co_total_price[:,1] == 'F', '6', lending_co_total_price[:,1])

lending_co_total_price

# We can combine stripping with substituting to transform all the letters in numbers.

array([['40', '365', '4171'],
       ['40', '365', '3280'],
       ['40', '365', '4241'],
       ...,
       ['40', '365', '5001'],
       ['40', '365', '3320'],
       ['40', '365', '4601']], dtype='<U5')

In [580]:
lending_co_total_price = lending_co_total_price.astype(dtype = int)
lending_co_total_price

# Even though the values look like numbers, they're actually just text, so we need to cast them once again.

array([[  40,  365, 4171],
       [  40,  365, 3280],
       [  40,  365, 4241],
       ...,
       [  40,  365, 5001],
       [  40,  365, 3320],
       [  40,  365, 4601]])

## Stacking

In [581]:
lending_co_data_numeric = np.loadtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data.csv", delimiter = ',')
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [582]:
# Recall

lending_co_data_numeric_NAN = np.genfromtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data-NAN.csv", delimiter = ';')

temporary_fill = np.nanmax(lending_co_data_numeric_NAN).round(2) + 1
temporary_mean = np.nanmean(lending_co_data_numeric_NAN, axis = 0).round(2)

lending_co_data_numeric_NAN = np.genfromtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data-NAN.csv",
                                            delimiter = ';',
                                            filling_values = temporary_fill)

for i in range(lending_co_data_numeric_NAN.shape[1]):
    lending_co_data_numeric_NAN[:,i] = np.where(lending_co_data_numeric_NAN[:,i] == temporary_fill,
                                                temporary_mean[i],
                                                lending_co_data_numeric_NAN[:,i])
lending_co_data_numeric_NAN


## We create a filler, reimport and fill all the nan-s, then subsitute all the temporary fillers with more appropriate values

array([[ 2000.  ,    40.  ,   365.  ,  3121.  ,  4241.  , 13621.  ],
       [ 2000.  ,    40.  ,   365.  ,  3061.  ,  4171.  , 15041.  ],
       [ 1000.  ,    40.  ,   365.  ,  2160.  ,  3280.  , 15340.  ],
       ...,
       [ 2250.25,    40.  ,   365.  ,  4201.  ,  5001.  , 16600.  ],
       [ 1000.  ,    40.  ,   365.  ,  2080.  ,  3320.  , 15600.  ],
       [ 2000.  ,    40.  ,   365.  ,  4601.  ,  4601.  , 16600.  ]])

In [583]:
lending_co_data_numeric_NAN.shape

(1043, 6)

In [584]:
np.stack((lending_co_data_numeric[:,1],lending_co_data_numeric[:,0]))

# Stacking the first 2 columns. (We can stack them in any order we like)

array([[  40.,   40.,   40., ...,   40.,   40.,   40.],
       [2000., 2000., 1000., ..., 2000., 1000., 2000.]])

In [585]:
np.transpose(lending_co_data_numeric[:,:2])

array([[2000., 2000., 1000., ..., 2000., 1000., 2000.],
       [  40.,   40.,   40., ...,   40.,   40.,   40.]])

In [586]:
np.stack((lending_co_data_numeric[:,0],lending_co_data_numeric[:,1], lending_co_data_numeric[:,2]), axis=1)

# We can stack more than 2 arrays.

array([[2000.,   40.,  365.],
       [2000.,   40.,  365.],
       [1000.,   40.,  365.],
       ...,
       [2000.,   40.,  365.],
       [1000.,   40.,  365.],
       [2000.,   40.,  365.]])

In [587]:
np.stack((lending_co_data_numeric[:,0],lending_co_data_numeric[:,1], lending_co_data_numeric[:,2]), axis=1).shape

(1043, 3)

In [588]:
lending_co_data_numeric_NAN.shape

(1043, 6)

In [589]:
np.dstack((lending_co_data_numeric, lending_co_data_numeric_NAN))[0,:,0]

# We can stack 2-D arrays as well.

array([ 2000.,    40.,   365.,  3121.,  4241., 13621.])

In [590]:
np.dstack((lending_co_data_numeric, lending_co_data_numeric_NAN))[0,:,0].shape

(6,)

In [591]:
np.stack((lending_co_data_numeric, lending_co_data_numeric_NAN), axis = -1)

# We can stack along a given axis (with np.stack())

array([[[ 2000.  ,  2000.  ],
        [   40.  ,    40.  ],
        [  365.  ,   365.  ],
        [ 3121.  ,  3121.  ],
        [ 4241.  ,  4241.  ],
        [13621.  , 13621.  ]],

       [[ 2000.  ,  2000.  ],
        [   40.  ,    40.  ],
        [  365.  ,   365.  ],
        [ 3061.  ,  3061.  ],
        [ 4171.  ,  4171.  ],
        [15041.  , 15041.  ]],

       [[ 1000.  ,  1000.  ],
        [   40.  ,    40.  ],
        [  365.  ,   365.  ],
        [ 2160.  ,  2160.  ],
        [ 3280.  ,  3280.  ],
        [15340.  , 15340.  ]],

       ...,

       [[ 2000.  ,  2250.25],
        [   40.  ,    40.  ],
        [  365.  ,   365.  ],
        [ 4201.  ,  4201.  ],
        [ 5001.  ,  5001.  ],
        [16600.  , 16600.  ]],

       [[ 1000.  ,  1000.  ],
        [   40.  ,    40.  ],
        [  365.  ,   365.  ],
        [ 2080.  ,  2080.  ],
        [ 3320.  ,  3320.  ],
        [15600.  , 15600.  ]],

       [[ 2000.  ,  2000.  ],
        [   40.  ,    40.  ],
        [  365.  ,   365.  ],
        [ 4601.  ,  4601.  ],
        [ 4601.  ,  4601.  ],
        [16600.  , 16600.  ]]])

In [592]:
np.stack((lending_co_data_numeric, lending_co_data_numeric_NAN), axis = -1).shape

(1043, 6, 2)

In [593]:
array_example_1 = np.array([[[1,2,3,4],[5,6,7,8],[9,10,11,12]],[[21,22,23,24],[25,26,27,28],[29,30,31,32]]])
array_example_2 = array_example_1 * 2

# We're quickly creating some 3-D arrays to showcase how dstack works for higher dimensions.

In [594]:
np.dstack((array_example_1, array_example_2))

array([[[ 1,  2,  3,  4,  2,  4,  6,  8],
        [ 5,  6,  7,  8, 10, 12, 14, 16],
        [ 9, 10, 11, 12, 18, 20, 22, 24]],

       [[21, 22, 23, 24, 42, 44, 46, 48],
        [25, 26, 27, 28, 50, 52, 54, 56],
        [29, 30, 31, 32, 58, 60, 62, 64]]])

In [595]:
np.dstack((array_example_1, array_example_2)).shape

(2, 3, 8)

In [596]:
np.stack((array_example_1, array_example_2), axis = 2).shape

# We can no longer replicate the output of dstack by simply specifying an axis.

(2, 3, 2, 4)

## Concatenate

In [597]:
lending_co_data_numeric = np.loadtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data.csv", delimiter = ',')
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [598]:
np.concatenate((lending_co_data_numeric[0,:], lending_co_data_numeric[1,:]))

# The concatenated array has the same number of dimensions as the inputs.

array([ 2000.,    40.,   365.,  3121.,  4241., 13621.,  2000.,    40.,
         365.,  3061.,  4171., 15041.])

In [599]:
np.concatenate((lending_co_data_numeric[0,:], lending_co_data_numeric[1,:])).shape

(12,)

In [600]:
#Recall:

lending_co_data_numeric_NAN = np.genfromtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data-NAN.csv", delimiter = ';')

temporary_fill = np.nanmax(lending_co_data_numeric_NAN).round(2) + 1
temporary_mean = np.nanmean(lending_co_data_numeric_NAN, axis = 0).round(2)

lending_co_data_numeric_NAN = np.genfromtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data-NAN.csv",
                                            delimiter = ';',
                                            filling_values = temporary_fill)

for i in range(lending_co_data_numeric_NAN.shape[1]):
    lending_co_data_numeric_NAN[:,i] = np.where(lending_co_data_numeric_NAN[:,i] == temporary_fill,
                                                temporary_mean[i],
                                                lending_co_data_numeric_NAN[:,i])

lending_co_data_numeric_NAN

array([[ 2000.  ,    40.  ,   365.  ,  3121.  ,  4241.  , 13621.  ],
       [ 2000.  ,    40.  ,   365.  ,  3061.  ,  4171.  , 15041.  ],
       [ 1000.  ,    40.  ,   365.  ,  2160.  ,  3280.  , 15340.  ],
       ...,
       [ 2250.25,    40.  ,   365.  ,  4201.  ,  5001.  , 16600.  ],
       [ 1000.  ,    40.  ,   365.  ,  2080.  ,  3320.  , 15600.  ],
       [ 2000.  ,    40.  ,   365.  ,  4601.  ,  4601.  , 16600.  ]])

In [601]:
np.concatenate((lending_co_data_numeric, lending_co_data_numeric_NAN), axis = 1).shape

(1043, 12)

In [602]:
array_example_1 = np.array([[[1,2,3,4],[5,6,7,8],[9,10,11,12]],[[21,22,23,24],[25,26,27,28],[29,30,31,32]]])
array_example_2 = array_example_1 * 2
array_example_2

# We create 3-D arrays to showcase concatenate vs stacking

array([[[ 2,  4,  6,  8],
        [10, 12, 14, 16],
        [18, 20, 22, 24]],

       [[42, 44, 46, 48],
        [50, 52, 54, 56],
        [58, 60, 62, 64]]])

In [603]:
np.concatenate((array_example_1, array_example_2), axis = 2)

array([[[ 1,  2,  3,  4,  2,  4,  6,  8],
        [ 5,  6,  7,  8, 10, 12, 14, 16],
        [ 9, 10, 11, 12, 18, 20, 22, 24]],

       [[21, 22, 23, 24, 42, 44, 46, 48],
        [25, 26, 27, 28, 50, 52, 54, 56],
        [29, 30, 31, 32, 58, 60, 62, 64]]])

In [604]:
np.concatenate((array_example_1, array_example_2), axis = 2).shape

(2, 3, 8)

In [605]:
np.dstack((array_example_1, array_example_2))

array([[[ 1,  2,  3,  4,  2,  4,  6,  8],
        [ 5,  6,  7,  8, 10, 12, 14, 16],
        [ 9, 10, 11, 12, 18, 20, 22, 24]],

       [[21, 22, 23, 24, 42, 44, 46, 48],
        [25, 26, 27, 28, 50, 52, 54, 56],
        [29, 30, 31, 32, 58, 60, 62, 64]]])

In [606]:
np.dstack((array_example_1, array_example_2)).shape

(2, 3, 8)

In [607]:
np.concatenate((lending_co_data_numeric, lending_co_data_numeric[:,:1]), axis = 1)

array([[ 2000.,    40.,   365., ...,  4241., 13621.,  2000.],
       [ 2000.,    40.,   365., ...,  4171., 15041.,  2000.],
       [ 1000.,    40.,   365., ...,  3280., 15340.,  1000.],
       ...,
       [ 2000.,    40.,   365., ...,  5001., 16600.,  2000.],
       [ 1000.,    40.,   365., ...,  3320., 15600.,  1000.],
       [ 2000.,    40.,   365., ...,  4601., 16600.,  2000.]])

## Unique

In [608]:
lending_co_data_numeric = np.loadtxt("/content/drive/MyDrive/Lending-Company-Numeric-Data.csv", delimiter = ',')
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [609]:
a=[2,0,3,14,9,4,11,8,12,32,1,5,6,7]
print(len(a))
a=np.unique(a)
for i in range(len(a)):
  b=a[i]
  values[f"{i}"]=int(a[i])
values

14

{'0': 0,
 '1': 1,
 '2': 2,
 '3': 3,
 '4': 4,
 '5': 5,
 '6': 6,
 '7': 7,
 '8': 8,
 '9': 9,
 '10': 11,
 '11': 12,
 '12': 14,
 '13': 32}

In [610]:
np.unique(lending_co_data_numeric[:,1])

array([ 35.,  40.,  50., 125., 165.])

In [611]:
np.unique(lending_co_data_numeric[:,1], return_counts = True, return_index = True)

# Unique -> returns the unique values within the array in increasing order
# return_counts -> returns how many times each unique value appears in the array
# return_index -> returns the index of the first encounter with each unique value

(array([ 35.,  40.,  50., 125., 165.]),
 array([327,   0,   4,  19,  27]),
 array([  4, 567, 451,  19,   2]))

In [612]:
array_example = np.array(["a1", "a3","A1","A3","A3","AA1","B1","A2","B1","A2","B2","B2", "B3","a2","a3","B3","B3","a3" ])
np.unique(array_example)

# If the values of the array are text, the unique function sorts them in "alphabetical" order by their ASCII codes.

array(['A1', 'A2', 'A3', 'AA1', 'B1', 'B2', 'B3', 'a1', 'a2', 'a3'],
      dtype='<U3')