<a href="https://colab.research.google.com/github/krishnavarathan/python-data-analysis/blob/main/text_file__handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
filename = '/content/This is python text book.txt'
print(type(filename))

<class 'str'>

In [8]:
file = open(filename, mode = 'r')
print(type(file))

<class '_io.TextIOWrapper'>

In [9]:
text = file.read()
print(type(text))

<class 'str'>

In [10]:
print(file.closed)
file.close()
print(file.closed)
print(text)

False
True
1512 2656 265 5

In [11]:
print(len(text))
print(list(text))

# for i in text:
#   print(i)

15
['1', '5', '1', '2', ' ', '2', '6', '5', '6', ' ', '2', '6', '5', ' ', '5']

In [12]:
digits = ""
final =[]
for i in text:
  if i != " ":
    digits+=i
  else:
    final.append(int(digits))
    digits =""
if digits:
  final.append(int(digits))
print(final)

[1512, 2656, 265, 5]

In [13]:
import pandas as pd
final_array = pd.Series(final, name="numbers", index=[2,1,3,4])
print(final_array.to_frame())
print(final_array[2])
print(final_array.index[2])

   numbers
2     1512
1     2656
3      265
4        5
1512
3

In [14]:
with open("This is python text book.txt","r") as f:
  con = f.read()
list(map(int,con.split(" ")))

[1512, 2656, 265, 5]

In [15]:
with open(filename, mode='r') as fil:
  file_read = fil.read()
  print(file_read)
print(file_read)

1512 2656 265 5
1512 2656 265 5

In [16]:
print(file_read)

1512 2656 265 5

In [17]:
with open ("/content/This is python text book.txt", mode='w') as w_f:
  w_f.write("New updated value")

In [19]:
with open("/content/This is python text book.txt", mode='r') as red:
  new_value = red.read()
  print(new_value)

New updated value

In [20]:
print(type(new_value))
with open("/content/This is python text book.txt", mode='w') as w_f:
  m=new_value+" 2026"
  w_f.write(m)

<class 'str'>

In [21]:
with open ("/content/This is python text book.txt", mode='r') as rd:
  print(rd.read())

New updated value 2026